.Card{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    min-height: 10em;
    padding-bottom: 1.5em;
    background-color: rgba(122, 199, 76, 0.1);
    border-radius: 0.7vw;
    font-size: 1em;
   
}

.Card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(47, 69, 56, 0.1), transparent);
    border-radius: 0.7vw;
}

.Card:hover .favIcon{
    display:flex!important;
}

.favIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 12%;
    right:7%;
}

.favIcon:hover {
    cursor: pointer;
}

.pokeInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left:2em ;
}

.pokeInfo h3{
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}

.pokeInfo p{
    margin: 0.5em 0 0.2em 0;
    
    
}
.pokeInfo span {
    font-size: 0.8em;
    color: white;
    font-weight: 600;
    padding:0.4em 0.7em;
    border-radius: 17vw;   
  }
  /* Para a condicional (pokemon 1 com a imagem muito pequena) */

.pokeImg1{
    width: 100%;
    height: auto;
    margin-left: 1em;
    transform: scale(1.5);
}

/* fim da condicional */

.pokeImg{
    width: 100%;
    height: auto;
    margin-left: 1em;
}

/* RESPONSIVE */

@media (min-width:610px) and (max-width: 1100px){
    .Card{
        width: 100%;
        height: 15em;
        max-width: 500px;
        overflow: hidden;
        min-width: 490px;
    }

    .pokeInfo{
        height:60%;
        margin-left:4em;
    }
    .pokeInfo h3{
        font-size: 2rem;
        margin-bottom:0.3em;
    }
    .pokeInfo p{
        margin: 1em 0;
    }
    .pokeInfo span {
        font-size: 1.5em;
        color: white;  
    }

     /* Para a condicional (pokemon 1 com a imagem muito pequena) */

    .pokeImg1{
        width: 100%;
        height: auto;
    }

    /* fim da condicional */

    .pokeImg{
        width: 100%;
        max-width: 250px;
        height: auto;
        transform: scale(1.5);
    }

}

@media (max-width: 610px){
    .Card{
        width: 70%;
        height: 9em;
        min-width: 265px;
        max-width: 275px;
        justify-content: flex-start;
        padding: 0 1.3em 2em 0em;
        overflow: hidden;
        border-radius: 7vw;
    }

    .pokeInfo{
        margin-left:0.2em;
        height: 70%;
        padding-left: 1.7em;
    }
    .pokeInfo h3{
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }
    .pokeInfo p{
        margin: 0.5em 0;
    }
    .pokeInfo span {
        font-weight: 400;
        font-size: 0.8em;
    }

     /* Para a condicional (pokemon 1 com a imagem muito pequena) */

    .pokeImg1{
        width: 50%;
        height: auto;
        transform: scale(2.5);
        overflow: hidden;
    }

    /* fim da condicional */

    .pokeImg{
        width: 50%;
        height: auto;
        max-width: 100px;
        transform: scale(2);
    }

}