.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.87vw;
    height: 15.46vh;
    background-color: rgba(122, 199, 76, 0.1);
    border-radius: 0.7vw;
    font-size: 0.83vw;
   
}
.pokeInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left:2em ;
}

.pokeInfo h3{
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.pokeInfo p{
    margin: 0.5em 0 0.2em 0;
    
}
.pokeInfo span {
    font-size: 0.8em;
    color: white;
    font-weight: 600;
    padding:0.4em 0.7em;
    border-radius: 17vw;   
  }
  /* Para a condicional (pokemon 1 com a imagem muito pequena) */

.pokeImg1{
    width: 100%;
    height: auto;
    margin-left: 1em;
    transform: scale(1.5);
}

/* fim da condicional */

.pokeImg{
    width: 100%;
    height: auto;
    margin-left: 1em;
}

/* RESPONSIVE */

@media (min-width:405px) and (max-width: 950px){
    .Card{
        width: 60.61vw;
        height: 20%;
        overflow: hidden;
    }

    .pokeInfo{
        height:70%;
        margin-left:4em;
    }
    .pokeInfo h3{
        font-size: 4rem;
        margin-bottom:0.3em;
        font-weight: 600;
    }
    .pokeInfo p{
        margin: 2em 0;
    }
    .pokeInfo span {
        font-size: 2.8em;
        color: white;  
    }

     /* Para a condicional (pokemon 1 com a imagem muito pequena) */

    .pokeImg1{
        width: 50%;
        height: auto;
    }

    /* fim da condicional */

    .pokeImg{
        width: 50%;
        height: auto;
    }

}

@media (max-width: 404px){
    .Card{
        justify-content: flex-start;
        width: 80.61vw;
        height: 14vh;
        padding: 1.3em 1.3em 2em 1.3em;
        overflow: hidden;
        border-radius: 7vw;
    }

    .pokeInfo{
        margin-left:4em;
        height: 70%;
        padding-left: 1.7em;
    }
    .pokeInfo h3{
        font-size: 6rem;
        font-weight: 600;
        margin-bottom:0.3em;
    }
    .pokeInfo p{
        margin: 2em 0;
    }
    .pokeInfo span {
        font-weight: 400;
        font-size: 2.8em;
        color: white;  
    }

     /* Para a condicional (pokemon 1 com a imagem muito pequena) */

    .pokeImg1{
        width: 50%;
        height: auto;
        transform: scale(2);
        overflow: hidden;
    }

    /* fim da condicional */

    .pokeImg{
        width: 50%;
        height: auto;
        transform: scale(1.5);
    }

}